.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.containerTextoCentro{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.textoCambioColor:hover{
    animation-name: anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes anim{
    0% {color: #ff0;} /*Amarillo*/
   25% {color: #f80;} /*Naranja*/
   50% {color: #2ec710;} /*Negro*/
   75% {color: rgb(4, 0, 255);} /*Otra vez naranja*/
  100% {color: rgb(255, 0, 234);} /*Otra vez amarillo*/
}

@keyframes fondo{
    0%{transform: scaleX(-1);}
    100%{background-image:-webkit-image-set()}
}

body{
    background-image: url(img/GatoBailarin.jpg);
    size: 100%;
    animation: fondo 1.5s steps(2) infinite;
    background-image: 
}